* {
    margin-left: 0px;
    margin-right: 0px;
}

body {
    background-color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

.footerLogo{
    width: 2rem;
    margin: 1rem;
}

.promotional-image {
    width: 200px;
    float: left;
    margin: 1rem;
}

.deal-image {
    width: 20rem;
    height: 20rem;
    margin: auto;
    display: block;
}

h1, h2 {
    font-size: 3rem;
    text-align: center;
}

nav ul {
    list-style: none;
    text-align: center;
    background-color: rgb(96, 187, 96);
    height: 2rem;
    margin: 4rem auto 3rem auto;
    border-radius: 1rem;
}

nav li {
    display: inline-block; 
    margin: 0.4rem 1rem;
    
}

nav li :hover {
    color: antiquewhite;
    background-color: blue; 
}

section {
    display: flex; 
    flex-wrap: wrap;     
}

p{ 
    margin: 1rem 1rem;
}

p em {
    background-color: yellow;
    font-weight: 900;
}

article{
    flex: 1;
    margin: 1rem 0.3rem;
    background-color: rgb(228, 219, 168);
    border-radius: 1rem;
}

article:hover {
    border-top-left-radius: 10rem 8rem;
    box-shadow: -1rem -0.5rem 3rem ;
}

footer {
    display: flex;
}

footer div{
    flex: 1;
    align-self: center;
}

@keyframes drop {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.logo {
    width: 10rem;
    display: block;
    margin: auto; 

    animation: drop 2s;
    animation-delay: 3sec;
}
